# Kappa Fleiss between three coders

Calculates the Kappa fleiss between three (Felipe, Guilherme, YouTube-8m) coders using two approaches: most frequent category and weighted.

In [1]:
import pandas as pd
from utils import str2tupleList, sumOfSquares

In [2]:
ads = pd.read_csv('../processed_data/ads.csv')
cat = pd.read_csv('../processed_data/mapped_categories.csv')

In [3]:
ads['labels'] = ads['categories'].apply(str2tupleList, 1)

In [4]:
ads.head()

,videoId,categories,labels
0,-0iPHNTYfOI,"[('Food', '0.384545'), ('Vehicle', '0.0851527'...","[(Food, 0.384545), (Vehicle, 0.0851527), (Anim..."
1,-4P8-sJqukY,"[('Hot air balloon', '0.35213'), ('Balloon (ae...","[(Hot air balloon, 0.35213), (Balloon (aeronau..."
2,-5bLu-NETl0,"[('Website', '0.0725519'), ('Video game', '0.0...","[(Website, 0.0725519), (Video game, 0.0288155)..."
3,-7TzvnMnflE,"[('Cartoon', '0.805026'), ('Animation', '0.132...","[(Cartoon, 0.805026), (Animation, 0.132279), (..."
4,-8M5Ekbt2hA,"[('Video game', '0.191235'), ('Game', '0.18813...","[(Video game, 0.191235), (Game, 0.188133), (Ra..."

In [5]:
for index,row in ads.iterrows():
    tmp = []
    for x,y in row['labels']:
        tmp.append(x)
    ads.at[index, 'categories'] = tmp

In [6]:
cat_dict = dict(zip(cat['label'], cat['categories']))

In [7]:
def map_cat(lst):
    tmp = []
    for k in lst:
        try:
            tmp.append(cat_dict[k])
        except:
            pass
    return tmp

In [8]:
ads['categories'] = ads['categories'].apply(map_cat, 1)

In [9]:
cat

,count,code,label,categories
0,788288,/m/03bt1gh,Games,Games
1,539945,/m/01mw1,Video game,Games
2,415890,/m/07yv9,Vehicle,Autos & Vehicles
3,378135,/m/01jddz,Concert,Arts & Entertainment
4,286532,/m/09jwl,Musician,Arts & Entertainment
5,236948,/m/0215n,Cartoon,Arts & Entertainment
6,203343,/m/01350r,Performance art,Arts & Entertainment
7,200813,/m/0k4j,Car,Autos & Vehicles
8,181579,/m/026bk,Dance,Arts & Entertainment
9,156226,/m/0342h,Guitar,Arts & Entertainment
10,144667,/m/0d8lm,String instrument,Arts & Entertainment
11,135357,/m/02wbm,Food,Food & Drink
12,130835,/m/02vx4,Football,Sports
13,125668,/m/05229,Musical ensemble,Arts & Entertainment
14,116098,/m/0mdxd,Music video,Arts & Entertainment
15,107788,/m/0jbk,Animal,Pets & Animals
16,98140,/m/0hcr,Animation,Arts & Entertainment
17,93443,/m/0410tth,Motorsport,Sports
18,90779,/m/068hy,Pet,Pets & Animals
19,84258,/m/0dfbw,Racing,Sports
20,75819,/m/0p57p,Recipe,Food & Drink
21,72911,/m/050k8,Mobile phone,Internet & Telecom
22,71218,/m/01mtb,Cooking,Food & Drink
23,64884,/m/0169zh,Smartphone,Internet & Telecom
24,64452,/m/02mf1n,Gadget,Computers & Electronics
25,59695,/m/03hdbf,Trailer,Arts & Entertainment
26,58720,/m/0138tl,Toy,Shopping
27,57801,/m/09v6kpg,Minecraft,Games
28,55597,/m/02hnl,Drums,Arts & Entertainment
29,55411,/m/01ykh,Cuisine,Food & Drink
...,...,...,...,...
3832,139,/m/05c_72,Audi Q5,Autos & Vehicles
3833,139,/m/0cnxdq6,Tales of Xillia,Games
3834,139,/m/02p_0k,Tie-dye,Business & Industrial
3835,139,/m/0cxdc,Humanoid robot,Science
3836,139,/m/04f127,Mini ramp,(Unknown)
3837,138,/m/061_f,Pear,Food & Drink
3838,138,/m/02_98f,Super Shredder,Arts & Entertainment
3839,138,/m/05zl3dg,Killing Floor,Games
3840,138,/m/0hnnb,Umbrella,Home & Garden
3841,138,/m/01wst8,Lifeguard,Hobbies & Leisure
3842,138,/m/09glrmv,Sony Ericsson Xperia X10,Internet & Telecom
3843,138,/m/0635r9,Siku Toys,Shopping
3844,137,/m/02bls7,Taskbar,Computers & Electronics
3845,137,/m/026dmfk,Rain gutter,Business & Industrial
3846,137,/m/061qdk,Prince of Persia: The Two Thrones,Games
3847,136,/m/0bh9rcz,London Fashion Week,Beauty & Fitness
3848,136,/m/04qbpjp,Princess Aurora,Arts & Entertainment
3849,136,/m/04fv0k,Marriott International,Travel
3850,135,/m/03wcykg,Diaper bag,People & Society
3851,135,/m/0d652y,With Your Destiny,(Unknown)
3852,135,/m/0g4fr,Papaya,Food & Drink
3853,134,/m/04cfw8,Classical ballet,Arts & Entertainment
3854,134,/m/0plvs,Eldar,Games
3855,134,/m/0h3q35s,FIFA Street,Games
3856,133,/m/064fs6,Alan Wake,Games
3857,131,/m/02_6gvj,Uncharted: Drake's Fortune,Games
3858,130,/m/02kh4w,Injury,Health
3859,130,/m/01hbjs,Look-alike,(Unknown)
3860,127,/m/01vzvy,Mortar,Business & Industrial
3861,123,/m/03h_4m,Cylinder,Science

## Most Frequent approach

In [10]:
def most_frequent(lst): 
    return max(set(lst), key = lst.count)

In [11]:
ads['category_youtube8m'] = ads['categories'].apply(most_frequent, 1)

In [12]:
ads.head()

,videoId,categories,labels,category_youtube8m
0,-0iPHNTYfOI,"[Food & Drink, Autos & Vehicles, Pets & Animal...","[(Food, 0.384545), (Vehicle, 0.0851527), (Anim...",Food & Drink
1,-4P8-sJqukY,"[Hobbies & Leisure, Games, Autos & Vehicles, H...","[(Hot air balloon, 0.35213), (Balloon (aeronau...",Arts & Entertainment
2,-5bLu-NETl0,"[Internet & Telecom, Games, Computers & Electr...","[(Website, 0.0725519), (Video game, 0.0288155)...",Computers & Electronics
3,-7TzvnMnflE,"[Arts & Entertainment, Arts & Entertainment, A...","[(Cartoon, 0.805026), (Animation, 0.132279), (...",Arts & Entertainment
4,-8M5Ekbt2hA,"[Games, Games, Autos & Vehicles, Arts & Entert...","[(Video game, 0.191235), (Game, 0.188133), (Ra...",Games

In [13]:
felipe_coding = pd.read_csv("../data/felipe_coding.csv")
guilherme_coding = pd.read_csv("../data/guilherme_coding.csv")

felipe_coding = felipe_coding[['ad_id', 'what is the category of the product?']]
felipe_coding.columns = ['ad_id', 'category_felipe']
felipe_coding = felipe_coding.dropna()

guilherme_coding = guilherme_coding[['ad_id', 'what is the category of the product?']]
guilherme_coding.columns = ['ad_id', 'category_guilherme']
guilherme_coding = guilherme_coding.dropna()

In [14]:
coding = ads.copy()
coding = coding[['videoId', 'category_youtube8m']]

In [15]:
coding = coding.join(felipe_coding.set_index('ad_id'), on='videoId')
coding = coding.join(guilherme_coding.set_index('ad_id'), on='videoId')

In [16]:
coding = coding.dropna()
coding = coding.drop_duplicates()

In [17]:
coding.head()

,videoId,category_youtube8m,category_felipe,category_guilherme
98,1YBY1Hyo7ls,Games,Arts & Entertainment,Arts & Entertainment
108,1kMEXhOMznQ,Pets & Animals,Business & Industrial,Business & Industrial
116,1u2nS8jcc5g,Computers & Electronics,Home & Garden,Home & Garden
144,2iTNc8rsFo8,Shopping,Clothing,Clothing
156,34AJ7MJNqFg,Arts & Entertainment,Arts & Entertainment,Arts & Entertainment

In [18]:
def fleiss_kappa(df):  
    k_list = list(set([*df.iloc[:,1], *df.iloc[:,2], *df.iloc[:,3]]))
    
    kappa_table = pd.DataFrame(0, index=df.videoId, columns=k_list)
    
    N = len(df)
    n = 3
    k = len(k_list)
    
    for _,row in df.iterrows():
        kappa_table.at[row['videoId'], row['category_youtube8m']] += 1
        kappa_table.at[row['videoId'], row['category_felipe']] += 1
        kappa_table.at[row['videoId'], row['category_guilherme']] += 1
        
    kappa_table['P'] = 1/(n*(n-1)) * (kappa_table.apply(sumOfSquares, 1) - n)
    p = kappa_table.iloc[:,:-1].sum()/kappa_table.iloc[:,:-1].sum().sum()
    
    P_hat = (1/N) * (kappa_table['P'].sum())
    P_hat_e = sumOfSquares(p)
    kappa = (P_hat - P_hat_e)/(1 - P_hat_e)
    return kappa

In [19]:
fleiss_kappa(coding)

0.33121478631304124

|    k        |interpretation            |
|   -------   |   -------                |
|    <0       | Poor agreement           |
|  0.01-0.20  | Slight agreement         |
| **0.21-0.40**  | **Fair agreement**           |
|  0.41-0.60  | Moderate agreement       |
|  0.61-0.80  |	Substantial agreement    |
|  0.81-1.00  | Almost perfect agreement |

## Highest weight approach

In [20]:
def highest_weight(df, cat_dict):
    df['category_youtube8m_hw'] = ""
    for index, row in df.iterrows():
        teste = pd.DataFrame(data=row.labels, columns=['label', 'weight'])
        teste['label'] = teste['label'].map(cat_dict)
        teste['weight'] = teste['weight'].astype(float)
        teste = teste.groupby(['label']).sum()
        df.at[index, 'category_youtube8m_hw'] = teste['weight'].idxmax()
        
    return df

In [21]:
ads = highest_weight(ads, cat_dict)

In [22]:
coding = ads.copy()
coding = coding[['videoId', 'category_youtube8m_hw']]
coding = coding.join(felipe_coding.set_index('ad_id'), on='videoId')
coding = coding.join(guilherme_coding.set_index('ad_id'), on='videoId')
coding = coding.dropna()
coding = coding.drop_duplicates()
coding.columns = ['videoId', 'category_youtube8m', 'category_felipe', 'category_guilherme']

In [23]:
coding.head()

,videoId,category_youtube8m,category_felipe,category_guilherme
98,1YBY1Hyo7ls,Games,Arts & Entertainment,Arts & Entertainment
108,1kMEXhOMznQ,Pets & Animals,Business & Industrial,Business & Industrial
116,1u2nS8jcc5g,Home & Garden,Home & Garden,Home & Garden
144,2iTNc8rsFo8,Shopping,Clothing,Clothing
156,34AJ7MJNqFg,Arts & Entertainment,Arts & Entertainment,Arts & Entertainment

In [24]:
fleiss_kappa(coding)

0.3468781083280587